<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <nav>
            <a href="/"> Back to home</a>
            <a href="/category">Back to categories</a>
        </nav>
        <h1><%= header %></h1>
        <table>
            <thead>
                <tr>
                    <th scop="col">Title</th>
                    <th scop="col">Price</th>
                    <th scop="col">Players</th>
                    <th scop="col">Reviews</th>
                    <th scop="col">Ratings</th>
                </tr>
            </thead>
            <tbody>
                <%if(locals.values) {%>
                    <% values.forEach((value) => {%>
                        <%- include("tbody", {value})%>
                    <%})%>
                <%}%>
            </tbody>
        </table>
        <div><a href= <%= url + "/delete" %> >Delete</a></div>
    </body>
</html>