<html>
    <body>
        <h1><%= title %></h1>
        <div>
            <a href="/category">Categories</a>
        </div>
        <div>
            <a href="/create">Add game</a>
        </div>
        <div>
            <a href="/update">Update game</a>
        </div>
        <main>
            <% if(games.length > 0) {%>
                <ul>
                    <%games.forEach((game) => {%>
                        <%- include("dataList", {game: game}) %>
                    <%})%>
                </ul>
            <%} else {%>
                <h3>No data...</h3>
            <%}%>
        </main>
    </body>
</html>