<ul>
    <% if(locals[category]) {%>
        <%locals[category].forEach((value) => {%>
            <li><a href=<%= "category/" + category + "/" + (value.id || value[category]) %> ><%= value[category] %> </a></li>
        <%})%>
    <%} else {%>
        <p>No available category values...</p>
    <%}%>
</ul>