<html>
    <title><%= title %></title>
    <body>
        <h1><%= header %></h1>
        <form action="/update" method="POST">
            <label for="name">Game title: </label>
            <input type="text" id="name" name="name" required>
        </form>
    </body>
</html>